# ROS2 build and install folders
/build/
/install/
/log/
/src/dual_arm_panda_moveit_config/
/src/control_6dof_xacro/

# Colcon build artifacts
colcon*.log
colcon*.meta

# Python cache
__pycache__/
*.pyc
*.pyo

# CMake build artifacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# ROS2 launch, params, and config logs
*.launch.pyc
*.params.pyc
*.yamlc

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Other
*.swp
*.swo
*.bak
*.orig
*.tmp